@charset "UTF-8";

body {
    font: 14px/18px normal sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding: 20px;
    background-color: #f2e4cf;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    color: #5c565c;
}
#start {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#wrapper {
    text-align: center;
}
#letterCont {
    border: 1px solid #464646;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    }
    #letterCont button {
        margin: 10px;
        font-size: 2em;
        padding: 10px;
    }
    .counter {
        color: black
    }
#phraseCont {
    margin: 20px;
    padding: 10px;
    text-align: center;
    }
    .phraseLetter{
        font-size: 2em;
        color: #54393e;
        width: 1.5em;
        text-align: center;
        display: inline-block;
        border: 1px solid #464646;
        border-radius: 5px;
        padding: 20px;
        margin: 10px 5px;
        background-color: #FFFFFF;
    }

#checkBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#statCont {
    font-size: 1.4em;
    color: #54393e;
}